*{
    margin: 0%;
    padding: 0%;
    /* background: rgba(44, 3, 190, 0.363) !important; */
}
/* Font Setting */
h1{
    font-family: 'Zilla Slab', serif;

}
.name{
    font-family: 'Zilla Slab', serif;
}
.home .text1{
    font-family: 'Baloo Thambi 2', cursive;
}
.home .text2{
    font-family: 'Zilla Slab', serif;
}
.home .text3{
    font-family: 'Baloo Thambi 2', cursive;
}
.home .genbtn{
    font-family: 'Baloo Thambi 2', cursive;
}
.navbar{
    font-family: 'Baloo Thambi 2', cursive;
}
.about-content{
    font-family: 'Baloo Thambi 2', cursive;
}
.services-content{
    font-family: 'Baloo Thambi 2', cursive;
}
.skills-content,.project,.contact-content,footer{
    font-family: 'Baloo Thambi 2', cursive;
}

html{
    scroll-behavior: smooth;
}
body{
    scroll-behavior: smooth;
    
}

/* Navbar CSS */
    nav{
        display: block;
        height: 100px;
    }
.navbar{
    margin: 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: fixed;
    top: 0%;
    width: 100vw;
    background: rgba(0, 0, 0, 0.541);
    transition: background-color 0.5s linear;
    /* background-color: crimson; */
    /* border-bottom: 1px solid black; */
}


.navbar>.navbar-flex1{
        margin: 10px;
        padding-left: 5px;
}
.navbar>.navbar-flex1>.name{
        font-size: 29px;
        font-weight: bold;
        background: -webkit-linear-gradient(90deg,#eee, crimson);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}


.navbar-flex2{
    position: absolute;
    right: 5vw;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.navbar-flex2>.flex > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.navbar-flex2>.flex > ul >li{
    list-style-type: none;
    margin: 5px 10px;
    padding-bottom: 5px;
    border-color: black;
    transition: border-color 0.5s linear;


}
.navbar-flex2>.flex > ul > li >a{
    font-size: 21px;
   text-decoration: none;
   color: white;
}
.navbar-flex2>.flex > ul > li >a:hover{
    color: crimson;
 }
.navbar-flex2>.flex > ul > li:hover{

    border-bottom: 2px solid crimson;
    cursor: pointer;
    
 }

/* //Sticky navbar */
 .navbar.sticky{
    background-color: crimson;
    transition: background-color 0.5s linear;

}
.navbar.sticky> .navbar-flex1>.name{
 font-size: 29px;
 color: white;
 font-weight: bold;
}
.navbar.sticky>.navbar-flex2>.flex > ul > li >a:hover{
 color: white;
}
.navbar.sticky>.navbar-flex2>.flex > ul > li:hover{

 border-bottom: 2px solid white;
 cursor: pointer;
 
}

.maxwidth{
    width: 100vw;

}
/* Hamburger Icon */
.menu-btn{
    color: white;
    font-size: 23px;
    margin: auto auto;
    margin-left: 10px;
    display: none;
}
.menu-btn:hover{
    cursor: pointer;
}


/* Home section CSS */
    section.hm{
        display: block;
        /* width: 100vw; */
        height: 100vh;
    }
.home{
    position: absolute;
    top: 0%;

    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url('../img/bg3.jpg')  no-repeat  center center ;
    background-size: cover;
    color: white;
}

.home .maxwidth{
    margin: auto 0 auto 40px;

}
.home .maxwidth .homecontent{
    z-index: 1;
}
.home .maxwidth .homecontent .text1{
    font-size: 27px;
}
.home .maxwidth .homecontent .text2{
    font-size: 75px;
    font-weight: 700;
    text-shadow: 5px 5px 10px crimson;
   
}
.home .maxwidth .homecontent .text3{
    font-size: 40px;
}
.home .maxwidth .homecontent .text3 span{
    color: crimson;
    padding-bottom: 20px;
}
.home .maxwidth .homecontent .genbtn{
    margin-top: 10px;


}

/* Utiliy Classes */
 .genbtn a{
    display: block;
    width: fit-content;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 12px 36px;
    background-color: crimson;
    border: 2px solid crimson;
    transition: all 0.3s linear;

}
  .genbtn a:hover{
    color: crimson;
    background-color: transparent;
    border: 2px solid crimson;
    cursor: pointer;

}

/* About Section CSS */
.about{
    
    padding-top: 10px;
}
.about h1{
    position: relative;
    padding-top: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 5px;
}
.about h1::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 130px;
    height: 2px;
    background: black;
    transform: translateX(-50%);
    

}
.about h1::after{
    content: "who i am";
    font-size: 15px;
    color: crimson;
    position: absolute;
    bottom: -7px;
    left: 50%;
    background: white;
    transform: translateX(-50%);
 
}

.about-content{
    display: flex;
    flex-direction: row;
    padding: 15px;
    background: white;
}
.about-content .about-column1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content .about-column1 img{
    display: block;
    width: 400px;
    height: 400px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.about-content .about-column2{
    padding: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-content .about-column2 .text{
    font-size: 28px;
    font-weight: 700;
    width: 100%;
    padding-bottom: 10px;

}
.about-content .about-column2 .text span{
    color: crimson;
    font-weight: 700;
}
.about-content .about-column2 .info{
    font-size: 23px;
}
 .genbtn{
    align-self: flex-start;
    margin-top: 10px;
    font-size: 25px;
}

/* Services Section CSS start  */

.services , .projects{
    background-color: black;
    color: white;
    min-height: 50vh;
    padding-top: 40px;
    align-items: center;
}
.services h1, .projects h1{
    position: relative;
    padding-top: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 10px;
}
.services h1::before,
.projects h1::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 130px;
    height: 2px;
    background: white;
    transform: translateX(-50%);
    

}
.services h1::after,
.projects h1::after{
    content: "what i do";
    font-size: 15px;
    color: crimson;
    position: absolute;
    bottom: -7px;
    left: 50%;
    background: black;
    transform: translateX(-50%);
 
}

.services-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding: 15px;
    margin-top: 15px;
    width: 80vw;
    margin: 20px auto;
    padding-bottom: 40px;
}
.services-content .card{

    background: #222;
    padding: 10px;
    margin: 10px 10px;
    margin-right: 5px;
    box-shadow: -0px -5px 5px crimson;
    transition: all .5s ease-in;
    width: calc(33% );
    min-height: 250px;
    border-radius: 15px;
    overflow: hidden;
}
.services-content .card:hover{

    background: crimson;
    cursor: pointer;
    transform: scale(1.03);

}
.services-content .card:hover .box i{
    color: white;
}

.services-content .card .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-content .card .box i{
    color: crimson;
    font-size: 50px;
    margin-top: 20px;
    transition: all .5s ease-in;

}
.services-content .card .box h2{
    font-size: 27px;
    font-weight: 400;
    padding: 10px;
    color: white;
    transition: all .5s ease-in;
}
.services-content .card .box p{
    font-size: 18px;
    padding: 5px;
    color: white;
    transition: all .5s ease-in;
}


/* Skills Css start here  */

.skills,.contact{
    color: black;
    background-color: white;
    min-height: 50vh;
    padding-top: 40px;
    align-items: center;
}
.skills h1, .contact h1{
    position: relative;
    padding-top: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 10px;
}
.skills h1::before,
.contact h1::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 130px;
    height: 2px;
    background: black;
    transform: translateX(-50%);
    

}
.skills h1::after,
.contact h1::after{
    content: "what i know";
    font-size: 15px;
    color: crimson;
    position: absolute;
    bottom: -7px;
    left: 50%;
    background: white;
    transform: translateX(-50%);
 
}
.skills-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding: 15px;
    margin-top: 15px;

}
.skills-content .column{
    width: calc(50% - 30px);
    margin: 20px;
}
.skills-content .left p{
    font-size: 20px;
    padding-bottom: 10px;
}
.skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills-content .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}
.skills-content .bars{
    margin-bottom: 10px;
    padding: 10px;
}
.skills-content .bars .info{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.skills-content .bars .info span{
    font-size: 18px;
    font-weight:700;
    padding-bottom: 5px;
}
.skills-content .bars .line{
    height: 5px;
    width: 100%;
    background: grey;
    position: relative;
}
.skills-content .bars .line::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;

    background-color: crimson;
}
.skills-content .bars .HTML::before{
    width: 90%;
}
.skills-content .bars .CSS::before{
    width: 70%;
}
.skills-content .bars .Javascript::before{
    width: 70%;
}
.skills-content .bars .PHP::before{
    width: 80%;
}
.skills-content .bars .MySQL::before{
    width: 70%;
}
.skills-content .bars .cpp::before{
    width: 50%;
}
.skills-content .bars .Java::before{
    width: 40%;
}

/* Project section Style start  */
.projects{
    padding-bottom: 40px;
}
.projects h1{
margin-bottom: 40px;
}
.projects h1::after{
    content: "what i created";
    
}
.projects .max-width{
    width: 90vw;
    margin: auto;
}
.project{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;

}
.project .card{

    background: #222;
    text-align: center;
    padding: 25px 35px;
    border-radius: 10px;
    margin:2vw;
    transition: all 0.5s ease;
    width:30vw;
    box-shadow: -0px -5px 5px crimson;
}
.project .card:hover{
    background: crimson;
    cursor: pointer;
    transform: scale(1.05);

}
.project .card .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.project .card .box img{
    width: 250px;
    height: 250px;
    border: 5px solid crimson;
    border-radius: 25%;
    margin: 10px 0 10px 0;

}
.project .card:hover .box img{
    border: 5px solid #fff;
}
.project .card .box .project-name{
    font-size: 25px;
    font-weight: 600;
    padding: 10px 0 7px 0;
}
.project .card .box p{
    font-size: 20px;
}
.owl-dots{
    margin: 20px;
    text-align: center;
}
.owl-dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    outline: none !important;
    border: 2px solid crimson !important;
    margin: 00 5px;
    transition: all 0.5s linear;
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson !important;
}

/* Contact Section Css Start  */
.contact h1::after{
    content: "get in touch";
}
.contact-content{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.contact-content .column{
    width: calc(50% - 30px);
    margin-left:20px;
    padding: 15px;
    padding-left: 5%;
}
.contact-content .left .text{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 5px;

}
.contact-content .left p{
    font-size: 20px;
    margin-bottom: 15px;

}
.contact-content .left .icons .rows{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact-content .left .icons .rows i{
    font-size: 30px;
    color: crimson;
}
.contact-content .left .icons .rows .info{
    margin-left: 20px;
    font-size: 20px;
}
.contact-content .left .icons .rows .info .head{
    font-weight: 700;

}
.contact-content .left .icons .rows .info .sub-title{
    color: #333;
}

/* Column Right  */

.contact-content .right .text{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 5px;

}

.contact-content .right form .fields{
    display: flex;
}

.contact-content .right form .fields .field{
    margin-bottom: 10px;
    margin-top: 10px;
    width: calc(50% - 40px);
    padding: 0;
}
.contact-content .right form .name{
    margin-right: 50px;
    
}

.contact-content .right form  .field input{
    height: 40px;
    width: 100%;
    padding: 0 15px;
    border: 2px solid #333;

}
.contact-content .right form .subject input {
    width: calc(100% - 30px);
    margin-right: 0;
}
.contact-content .right form .textarea{
    width: calc(100%);
    margin-right: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}
.contact-content .right form .textarea textarea{
    width: calc(100% - 30px);
    resize: none;
    outline: none;
    border: 2px solid #333;  
      padding: 0 15px;
}
.contact-content .right form .genbtn a{
    font-size: 20px;
}

footer{
    background: black;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}
footer span a{
    text-decoration: none;
    color: crimson;


}
footer span a:hover{
    color: white;
}
